  
<div class="jumbotron center">
  <h1>Alpha blog</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<%= link_to "Alpha blog", articles_path %> |
<%= link_to "About", about_path %>